
.wrapper{
    display: flex;
    row-gap: 20px;
    column-gap: 20px;
    height: 100%;


}
.canvas-drag{
    flex: 1;
    min-width: 0px;
    background-repeat: repeat;

}
.list-drag{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 300px;
}
.drag-item{
    padding: 4px 10px;
    border: 1px solid #d9d9d9;
    display: flex;
    column-gap: 10px;
    cursor: move;
    border-radius: 6px;
    margin-bottom: 10px;
    align-items: center;
    position: relative;
    z-index: 100;
    background-color: #fff;
}
.drag-item .icon{
    font-size: 20px;
    color: #666;
}
.canvas-drag{
    min-height: 600px;
    overflow: hidden;
    border-left: 1px solid #d9d9d9;
    background-image: url(../images/bg-dot.svg);
}
.w-tree-org{
    display: flex;
    align-items: flex-start;
    padding: 20px;
}
.tree-node-children{
    padding-left: 20px;
    position: relative;
    row-gap: 20px;
    flex-direction: column;
    display: none;
}
.tree-node-children.expanded{
    display: flex;
}
.tree-node-children:before{
    content: "";
    top: 19px;
    left: 0px;
    position: absolute;
    border-top: 1px solid #d9d9d9;
    height: 1px;
    width: 20px;
}
.tree-node-content{
    border: 1px solid #d9d9d9;
    width: 200px;
    background-color: #fff;
    border-radius: 6px;
    padding: 7px 10px;
    position: relative;
}
.tree-org-node{
    padding: 0px 10px;
    padding-left: 20px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    position: relative;
    cursor: pointer;

}
.tree-org-node:before{
    content: "";
    top: 10px;
    bottom: 0px;
    height: calc(100% + 12px);
    position: absolute;
    width: 1px;
    left: 0px;
    border-left: 1px solid #d9d9d9;
}
.tree-org-node:after{
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    border-bottom: 1px solid #d9d9d9;
    border-left: 1px solid #d9d9d9;
    border-bottom-left-radius: 10px;
    left: 0px;
    top: 0px;
}
.tree-org-node:first-child:after{
    border-radius: 0px;
    border-left: 0px;
}
.tree-org-node:first-child:before{
    top: 20px;
}
.tree-org-node:last-child:before{
    display: none;
}
#tree-container {
    width: 100%;
    height: 100%;
    transform-origin: 0px 0px;
    transform: scale(1) translate(0px, 0px);
    cursor: grab;
}

.ui-droppable-hover{
    border:1px dashed #666;
}

.tree-org-expand{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: absolute;
    background-color: #666;
    top: 10px;
    bottom: 0px;
    margin: 0px;
    z-index: 2;
    right: -30px;
    font-family: 'ap';
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 10px;
    cursor: pointer;
}
.tree-org-expand:before{
    content: "\e9c4";
}
.tree-org-expand.active:before{
    content: "\f3e4";
}